//
   Created by dnt on 9/24/15.
.row.content_header
   ul.text-capitalize
      li.col-sm-12.col-md-6.voffset2
         a(href="#about#matchalagi")
            span.glyphicon.glyphicon-chevron-right
            span &nbsp;Matcha Là Gì
      li.col-sm-12.col-md-6.voffset2
         a(href="#about#sanxuatmatcha")
            span.glyphicon.glyphicon-chevron-right
            span &nbsp;Sản xuất matcha
      li.col-sm-12.col-md-6.voffset2
         a(href="#about#congdungmatcha")
            span.glyphicon.glyphicon-chevron-right
            span &nbsp;Công dụng thần kỳ của Matcha
      li.col-sm-12.col-md-6.voffset2
         a(href="#about#sudungmatcha")
            span.glyphicon.glyphicon-chevron-right
            span &nbsp;Sử dụng Matcha 2
.row.detailContent
   a(name="matchalagi")
      h3.col-lg-12.zmarginLF
         span.glyphicon.glyphicon-chevron-right
         span &nbsp;Matcha Là Gì
   .col-lg-12.hline_content.zmarginLF
   .text-justify.zmarginLF.col-lg-12 Matcha (抹茶, phiên âm tiếng Hán: mạt trà) là sản phẩm đặc trưng của văn hóa trà đạo Nhật Bản từ thế kỉ 12. Trà đạo Nhật Bản truyền thống vốn xoay quanh các hoạt động pha trà và thưởng thức matcha, lồng ghép vào đó các giá trị tinh thần và văn hóa. Sau hàng trăm năm thực hành văn hóa trà đạo, matcha hiện nay đã vươn ra khỏi nước Nhật, không chỉ là một loại đồ uống cổ truyền, mà còn là thức nguyên liệu đặc biệt trong ẩm thực lẫn trong thẩm mĩ, với màu sắc và hương vị đặc biệt, cùng những giá trị vàng cho sức khỏe.
   .voffset1
   a(name="sanxuatmatcha")
      h3.col-lg-12.zmarginLF
         span.glyphicon.glyphicon-chevron-right
         span &nbsp;Sản xuất Matcha
   .col-lg-12.hline_content.zmarginLF
   .text-justify.zmarginLF.col-lg-12 Mặc dù cùng có nguồn gốc từ cây trà xanh, song khác với trà pha trong nước nóng thông thường (phiên âm là Lục trà), còn nguyên cả lá, matcha (phiên âm là Mạt trà) được chế biến công phu hơn: các búp trà sau khi thu hoạch được hấp, phơi sấy khô, bỏ gân và cuống lá, và nghiền bằng cối đá cho đến khi thật mịn. Bột trà sau đó được pha và đánh đều cho sủi bọt trong nước nóng bằng chổi pha trà chuyên dụng. Chính quy trình chế biến đầy công phu khiến cho matcha có giá thành cao hơn bất kỳ loại trà nào khác.
   img.img-responsive.center-block(src="images/sxmatcha.png")
   .text-justify.zmarginLF.col-lg-12 Trà xanh được trồng ở rất nhiều nơi, và thực tế, việc nghiền lá trà thành bột để đánh trong nước nóng đã được thực hành ở Trung Quốc từ khoảng thế kỉ 10. Nhưng loại matcha ngon nhất phải là matcha Nhật Bản, được sản xuất từ lá trà xanh trồng tại các vùng miền Nam đất nước như: Uji, Nishio, Shizuoka và Kyushu. Khoảng 20 ngày trước ngày thu hoạch, các cây trà xanh được che lại để các lá trà phát triển chậm trong bóng râm, không được tiếp xúc trực tiếp với ánh nắng. Thiếu ánh nắng thúc đẩy làm tăng nồng độ chất diệp lục trong lá trà (clorophyll – chất làm lá trà trở nên xanh thẫm hơn) và tăng cường sản xuất các amino acid trong lá trà, đặc biệt là L-Theanine, một amino axit tự nhiên chỉ có trong trà xanh và một số loại nấm. Chính các amino axit này tạo nên hương vị đặc trưng của matcha, và là bí quyết cho phép matcha vừa làm tĩnh tâm, đồng thời tăng khả năng tập trung cho người thưởng thức, như người Nhật Bản vẫn sử dụng trong nghệ thuật trà đạo.
   .text-justify.zmarginLF.col-lg-12 Lá trà sau khi thu hoạch ngay lập tức được hấp để tránh lên men, đồng thời giữ được màu xanh của lá. Trà sau đó được sấy khô, thu được tencha. Tencha đem chế biến bỏ gân lá, cuống lá và nghiền thật kỹ bằng cối đá sẽ trở thành bột mịn, chính là matcha – Mạt Trà.