//
   Created by dnt on 9/24/15.
.row.content_header
   ul.text-capitalize
      li.col-sm-12.col-md-6.voffset2
         a(href="#about#matchalagi")
            span.glyphicon.glyphicon-chevron-right
            span &nbsp;Matcha Là Gì
      li.col-sm-12.col-md-6.voffset2
         a(href="#about#sanxuatmatcha")
            span.glyphicon.glyphicon-chevron-right
            span &nbsp;Sản xuất matcha
      li.col-sm-12.col-md-6.voffset2
         a(href="#about#congdungmatcha")
            span.glyphicon.glyphicon-chevron-right
            span &nbsp;Công dụng thần kỳ của Matcha
      li.col-sm-12.col-md-6.voffset2
         a(href="#about#sudungmatcha")
            span.glyphicon.glyphicon-chevron-right
            span &nbsp;Sử dụng Matcha 2
.row.detailContent
   a(name="matchalagi")
      h3.col-lg-12.zmarginLF
         span.glyphicon.glyphicon-chevron-right
         span &nbsp;Matcha Là Gì
   .col-lg-12.hline_content.zmarginLF
   .text-justify.zmarginLF.col-lg-12 Matcha (抹茶, phiên âm tiếng Hán: mạt trà) là sản phẩm đặc trưng của văn hóa trà đạo Nhật Bản từ thế kỉ 12. Trà đạo Nhật Bản truyền thống vốn xoay quanh các hoạt động pha trà và thưởng thức matcha, lồng ghép vào đó các giá trị tinh thần và văn hóa. Sau hàng trăm năm thực hành văn hóa trà đạo, matcha hiện nay đã vươn ra khỏi nước Nhật, không chỉ là một loại đồ uống cổ truyền, mà còn là thức nguyên liệu đặc biệt trong ẩm thực lẫn trong thẩm mĩ, với màu sắc và hương vị đặc biệt, cùng những giá trị vàng cho sức khỏe.
   .voffset1

   a(name="sanxuatmatcha")
      h3.col-lg-12.zmarginLF
         span.glyphicon.glyphicon-chevron-right
         span &nbsp;Sản xuất Matcha
   .col-lg-12.hline_content.zmarginLF
   .text-justify.zmarginLF.col-lg-12 Mặc dù cùng có nguồn gốc từ cây trà xanh, song khác với trà pha trong nước nóng thông thường (phiên âm là Lục trà), còn nguyên cả lá, matcha (phiên âm là Mạt trà) được chế biến công phu hơn: các búp trà sau khi thu hoạch được hấp, phơi sấy khô, bỏ gân và cuống lá, và nghiền bằng cối đá cho đến khi thật mịn. Bột trà sau đó được pha và đánh đều cho sủi bọt trong nước nóng bằng chổi pha trà chuyên dụng. Chính quy trình chế biến đầy công phu khiến cho matcha có giá thành cao hơn bất kỳ loại trà nào khác.
   img.img-responsive.center-block(src="images/sxmatcha.png")
   .text-justify.zmarginLF.col-lg-12 Trà xanh được trồng ở rất nhiều nơi, và thực tế, việc nghiền lá trà thành bột để đánh trong nước nóng đã được thực hành ở Trung Quốc từ khoảng thế kỉ 10. Nhưng loại matcha ngon nhất phải là matcha Nhật Bản, được sản xuất từ lá trà xanh trồng tại các vùng miền Nam đất nước như: Uji, Nishio, Shizuoka và Kyushu. Khoảng 20 ngày trước ngày thu hoạch, các cây trà xanh được che lại để các lá trà phát triển chậm trong bóng râm, không được tiếp xúc trực tiếp với ánh nắng. Thiếu ánh nắng thúc đẩy làm tăng nồng độ chất diệp lục trong lá trà (clorophyll – chất làm lá trà trở nên xanh thẫm hơn) và tăng cường sản xuất các amino acid trong lá trà, đặc biệt là L-Theanine, một amino axit tự nhiên chỉ có trong trà xanh và một số loại nấm. Chính các amino axit này tạo nên hương vị đặc trưng của matcha, và là bí quyết cho phép matcha vừa làm tĩnh tâm, đồng thời tăng khả năng tập trung cho người thưởng thức, như người Nhật Bản vẫn sử dụng trong nghệ thuật trà đạo.
   .text-justify.zmarginLF.col-lg-12 Lá trà sau khi thu hoạch ngay lập tức được hấp để tránh lên men, đồng thời giữ được màu xanh của lá. Trà sau đó được sấy khô, thu được tencha. Tencha đem chế biến bỏ gân lá, cuống lá và nghiền thật kỹ bằng cối đá sẽ trở thành bột mịn, chính là matcha – Mạt Trà.

   a(name="congdungmatcha")
   h3.col-lg-12.zmarginLF
      span.glyphicon.glyphicon-chevron-right
      span &nbsp;Công dụng của Matcha
   .col-lg-12.hline_content.zmarginLF
   .text-justify.zmarginLF.col-lg-12 Sự thịnh hành gần đây của matcha xuất phát từ các nghiên cứu khoa học chỉ ra những ích lợi cho sức khỏe loại trà này mang lại. Trà xanh thông thường vốn được đánh giá là một thực phẩm chống oxi hóa tự nhiên, đặc biệt chứa EGCg – một chất chống oxi hóa cực mạnh, giúp tái tạo tế bào, và có khả năng phòng chống ung thư. Tuy nhiên pha trà trong nước nóng và bỏ bã như cách uống trà thông thường chỉ giúp chiết xuất được một phần các chất dinh dưỡng trong lá trà. Khi uống matcha, uống cả nước và bột lá trà giúp toàn bộ các chất dinh dưỡng và chất chống oxi hóa trong trà được hấp thụ vào cơ thể. Đó là lý do vì sao một ly matcha có thể tương đương với 10 ly trà xanh thường về giá trị dinh dưỡng và chứa nhiều gấp 137 lần chất chống oxi hóa.
   img.img-responsive.center-block(src="images/congdung.png")
   h4.text-justify.zmarginLF.col-lg-12 Matcha và tập trung trí lực
   .text-justify.zmarginLF.col-lg-12 Được du nhập vào Nhật Bản từ Trung Quốc bởi các nhà sư, matcha vốn được sử dụng để làm tăng sự tỉnh táo và tập trung sau nhiều giờ tĩnh tâm và thiền định. Bí quyết của matcha nằm ở amino acid L-Theanine, một amino acid hiếm có tác dụng kích thích hoạt động não bộ, tạo trang thái tỉnh táo, tập trung nhưng vẫn thư giãn, thoải mái. Amino acid này là thành phần đặc trưng trong các loại trà đen và trà xanh. Trong matcha, nồng độ Theanine cao gấp 5 lần nước trà pha thông thường, không những có tác dụng tăng trí lực, mà còn làm thư giãn, loại bỏ các tác dụng phụ của cafeine tự nhiên trong nước trà. Vì vậy, thay vì liên tục kích thích cơ thể bằng cà phê, hãy thử tặng cho mình một ly matcha mỗi ngày để cảm nhận cảm giác tỉnh táo mà vẫn nhẹ nhàng, thư thái.
   h4.text-justify.zmarginLF.col-lg-12 Matcha và giảm cân
   .text-justify.zmarginLF.col-lg-12 Matcha hầu như không cung cấp năng lượng, và là một yếu tố hỗ trợ giảm cân tuyệt vời. Một mặt, matcha với các chất khoáng và chất chống oxi hóa, giúp đẩy nhanh quá trình trao đổi chất, đốt cháy mỡ trong cơ thể nhanh hơn. Hơn nữa, không giống các loại thuốc giảm béo thường làm tang huyết áp hay nhịp tim, matcha với nguồn gốc tự nhiên, hoàn toàn không gây áp lực lên cơ thể. Chính vì vậu, matcha trở thành một phương án an toàn cho sức khỏe, được khuyến khích  trong các thực đơn giảm cân, giảm mỡ.
   h4.text-justify.zmarginLF.col-lg-12 Matcha và thải độc
   .text-justify.zmarginLF.col-lg-12 Có thể bạn không biết rằng trong thực phẩm ăn uống hàng ngày luôn chứa kim loại nặng. Dù rất ít nhưng các chất này có khả năng tích tụ trong cơ thể, từ từ đầu độc bạn. Tác dụng thải độc của matcha đến từ nồng độ cao chất diệp lục (clorophyll) của những lá trà sinh trưởng trong bóng râm. Chất này khi đi vào cơ thể, giúp chuyển hóa, liên kết với các nguyên tử kim loại nặng và đưa chúng ra khỏi cơ thể, giúp cơ thể bạn được thanh lọc và khỏe mạnh. Thay vì phải uống các viên diệp lục tổng hợp, bạn chỉ cần duy trì thói quen uống matcha hoặc sử dụng các thực phẩm chế biến từ matcha hàng ngày để bổ sung chất diệp lục cho cơ thể.
   h4.text-justify.zmarginLF.col-lg-12 Matcha và  chống lão hóa, ung thư
   .text-justify.zmarginLF.col-lg-12 Nồng độ các chất chống oxi hóa trong matcha rất đáng kinh ngạc, kể cả khi so sánh với các thực phẩm thuộc top “vua chống lão hóa” như táo xanh, đậu nành, cà rốt...  Chất chống oxi hóa có tác dụng trung hòa các gốc tự do – nguyên nhân khiến các tế bào bị hư hại và lỗi chức năng, gây ra lão hóa và ung thư. Sử dụng matcha hàng ngày làm giảm nguy cơ mắc các bệnh ung thư và giảm tốc độ lão hóa, đóng góp một phần vào tuổi thọ nổi tiếng của người Nhật. Cũng chính những phẩm chất tuyệt vời trong chống oxi hóa khiến matcha được sử dụng rộng rãi trong thẩm mỹ, làm nên các công thức đem lại vẻ tươi trẻ cho làn da.
   .voffset1