doctype
html(ng-app='atanivn',ng-controller="atanimainCtrl")
    head
        title Atani Matcha Trà Xanh Nhật Bản Nguyên Chất
        meta(name="viewport",context="width=device-width, initial-scale=1")
        meta(name="description",content="Atani Matcha Trà Xanh Nhật Bản Nguyên Chất")
        meta(name="keywords",content="Atani Matcha Trà Xanh Nhật Bản Nguyên Chất VIHABA")
        script(type='text/javascript',src="javascripts/angular.min.js")
        script(type="text/javascript",src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js")

        script(type="text/javascript",src="javascripts/jquery.min.js")
        script(type="text/javascript",src="javascripts/bootstrap.min.js")
        script(type="text/javascript",src="javascripts/star-rating.min.js")
        script(type="text/javascript",src="javascripts/app.js")
        link(href="stylesheets/atani.css",rel="stylesheet")
        link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
        link(href='https://fonts.googleapis.com/css?family=Quicksand:400,700',rel='stylesheet',type='text/css')
        link(rel="icon",href="images/favicon.ico")
    body
        nav#mainmenu.navbar.navbar-default.navbar-fixed-top
            .container
                .navbar-header
                    a.navbar-brand.brand.visible-xs
                        img.brand-image.img-circle.img-responsive(ng-src="{{ logo_url }}")
                    button.navbar-toggle.collapsed(type='button',data-toggle="collapse",data-target=".navbar-collapse")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                .collapse.navbar-collapse#ataniMenu
                    ul.nav.navbar-nav.text-uppercase.nav-tabs.nav-justified
                        li.toogleConent(ng-repeat="mnu in menus",class="{{ mnu['css'] }}",id="{{ mnu['id']}}")
                            a.btn(ng-href="{{ mnu['href'] }}")
                                span(class="{{ mnu['icon'] }}")
                                | &nbsp;{{ mnu['name'] }}
        .container
            .row
                .col-md-12.col-xs-12
                    a(href='#/',title='Home')
                        img.banner.center-block.img-responsive(alt='Banner Image Loading',ng-src="{{ banner_url }}")
            .main
                div(ng-view)
        .footer
            .container
                .row
                    .voffset
                    .col-xs-12.col-md-12
                        h3.text-center.text-uppercase
                            strong Công ty TNHH thương mại và xuất nhập khẩu vihaba
                    .col-xs-12.col-md-12 Địa chỉ:
                        span.textBold &nbsp;Số 10 Ngách 91/16 Lương Đình Của, Phương Mai, Đống Đa, Hà Nội
                    .col-xs-12.col-md-12 Văn phòng giao dịch:
                        span.textBold &nbsp;Số 28 Vũ Phạm Hàm, Yên Hòa, Cầu Giấy, Hà Nội.
                    .col-xs-12.col-md-12 Điện thoại:
                        span.textBold &nbsp;0466 730 333
                        | &nbsp;/ Hotline:
                        span.textBold &nbsp;090 567 1102
                    .col-xs-12.col-md-12
                        | Website:&nbsp;
                        a(ng-href="{{ urlHome }}") {{ urlHome }}
                    .col-xs-12.col-md-12
                        | Email:&nbsp;
                        a(ng-href="mailto:{{ emailHome }}/?subject={{ subject}}") atani@vihaba.vn
                        | &nbsp;/&nbsp;
                        a(ng-href="{{ urlFB }}",target="_blank")
                            span.fa.fa-facebook-square
                            span &nbsp;{{ urlFB_name }}