doctype
html(ng-app='atanivn',ng-controller="atanimainCtrl")
    head
        title {{ title }}
        meta(name="viewport",context="width=device-width, initial-scale=1")
        script(type='text/javascript',src="javascripts/angular.min.js")
        script(type="text/javascript",src="javascripts/jquery.min.js")
        script(type="text/javascript",src="javascripts/bootstrap.min.js")
        script(type="text/javascript",src="javascripts/app.js")
        link(href="stylesheets/atani.css",rel="stylesheet")
        link(href='https://fonts.googleapis.com/css?family=Quicksand:400,700',rel='stylesheet',type='text/css')
        link(rel="icon",href="images/favicon.ico")
    body
        nav#mainmenu.navbar.navbar-default.navbar-fixed-top
            .container
                .navbar-header
                    a.navbar-brand.brand.visible-xs
                        img.brand-image.img-rounded.img-responsive(ng-src="{{ logo_url }}")
                    button.navbar-toggle.collapsed(type='button',data-toggle="collapse",data-target="#ataniMenu")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                .collapse.navbar-collapse#ataniMenu
                    ul.nav.navbar-nav.text-uppercase.nav-tabs.nav-justified
                        li(ng-repeat="mnu in menus",class="{{ mnu['css'] }}",id="{{ mnu['id']}}")
                            a.btn.toogleConent(data-target="antanicontent",data-value= "{{ mnu['index'] }}")
                                span(class="{{ mnu['icon'] }}")
                                | &nbsp;{{ mnu['name'] }}
        .container
            .row
                .col-md-12.col-xs-12
                    .banner
                        a(href='/',title='Home')
                            img(class='center-block img-responsive',alt='Banner Image',ng-src="{{ banner_url }}")
                        .img-responsive.img-rounded.img_overlay
                            img(ng-src='{{ logo_url }}',alt="Logo")
                    div
                        h1#site-name(class="text-center text-uppercase")
                            a(href="/",title='Home') matcha tea atani
                    div
                        h2#slogan(class="text-center text-uppercase")
                            a(href="/",title="Home") matcha tea atani @ Slogan
            .row#hlinef.zmarginLF
                .col-xs-12.col-lg-12.hline
            .row.backgroundMain.zmarginLF
                h1.col-md-12.col-xs-12.hide#antanicontent
            .row.backgroundMain.zmarginLF#mainContent
                .hidden-xs.col-sm-6.col-md-6.col-lg-6
                    img.img-responsive.mainPic(ng-src="{{ anhcoc_url }}",alt='Anh loi')
                .col-xs-12.col-sm-6
                    h2
                        strong.advBigger Trà Xanh
                        | &nbsp;và hơn thế nữa
                    h2.advTea
                        strong.advBigger.strong 10x
                        | &nbsp;giá trị dinh dưỡng
                    h2.advTea
                        strong.advBigger.strong 137x
                        | &nbsp;chất chống oxy hóa
                    h2 so với nước trà pha thường
            .row.zmarginLF
                .col-xs-12.col-md-12.hline
            .row.voffset4
                ul
                    li.voffset2.col-xs-12.col-md-6(ng-repeat="note in notes")
                        i.fa.fa-hand-o-right.btn &nbsp;{{ note }}
            //.row
            //    ul
            //        li.voffset2.col-xs-12.col-md-6
            //            i.fa.fa-hand-o-right.btn.toogleConent(,data-value=) Content 1
            //            i.fa.fa-hand-o-right.btn.toogleConent(data-target="antanicontent",data-value="generatematcha") Content 2
        .footer
            .container
                .row
                    .voffset
                    .col-xs-12.col-md-12
                        h3.text-center.text-uppercase
                            strong Công ty TNHH thương mại và xuất nhập khẩu vihaba
                    .col-xs-12.col-md-12 Địa chỉ: Số 10 Ngách 91/16 Lương Đình Của, Phương Mai, Đống Đa, Hà Nội
                    .col-xs-12.col-md-12 Văn phòng giao dịch: Số 167 Nguyễn Ngọc Nại, Thanh Xuân, Hà nội
                    .col-xs-12.col-md-12 Điện thoại: 0466 730 333 / Hotline: 090 567 1102
                    .col-xs-12.col-md-12
                        | Website:&nbsp;
                        a(ng-href="{{ urlHome }}") {{ urlHome }}
                    .col-xs-12.col-md-12
                        | Email:&nbsp;
                        a(ng-href="mailto:{{ emailHome }}/?subject={{ subject}}") atani@vihaba.vn
                        | &nbsp;/&nbsp;
                        a.i.fa.fa-facebook-square(ng-href="{{ urlFB }}") &nbsp;{{ urlFB }}