doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/style.css')
    script(type='text/javascript',src="angular/angular.min.js")
    script(type="text/javascript",src="javascripts/app.js")

  body(ng-app="jetbrains",ng-controller="AppCtrl")
    block content
